<div class="container">
  <div class="profile-container">
    <div class="container">
      <div class="card hovercard">
        <div class="cardheader"></div>
        <div class="profile-card-avatar">
          <%= cl_image_tag current_user.photo %>
        </div>
        <div class="info">
          <div class="title">
            <h3><%= current_user.user_name %></h3>
          </div>
          <div class="desc"><%= current_user.address %></div>
          <div class="desc">Note : <%= current_user.rating %></div>
        </div>
      </div>
    </div>

    <div class="profile-details">
      <div class="profile-description">
        <div class= "profile-text">
          <h3>Quelques mots sur moi</h3>
          <%= current_user.description %>
        </div>
      </div>

      <div class="card-container">
        <div class="onglet">
          <h2>Mes costumes</h2>
          <%= link_to "Mes locations", owner_bookings_path, class:"btn btn-danger" %>
        </div>
        <div class="row">
            <% current_user.costumes.each do |costume| %>
              <div class="col-6">
              <%= link_to costume_path(costume.id), class: 'card_link' do %>
               <div class="card-trip">
                 <div class="card-image">
                   <%= cl_image_tag(costume.photo, height: 200, width: 150, gravity: :north, crop: :fill) %>
                 </div>
                 <div class="card-trip-infos">
                   <h2><%= costume.name %></h2>
                   <div class="description_product">
                     <p><%= costume.description %></p>
                   </div>
                   <div class="card-details">
                     <div class="size">
                       <h2> Taille : <%= costume.size %></h2>
                     </div>
                   </div>
                 </div>
               </div>
             <% end %>
              </div>
           <% end %>
      </div>
    </div>
  </div>
</div>

