<h1 class="text-center">Nos costumes !</h1>
<p></p>

<div class="index-container">
  <div class="cards_trip">
    <% @costumes.each do |costume| %>
     <%= link_to costume_path(costume.id), class: 'card_link' do %>
      <div class="card-trip">
        <div class="card-image">
          <%= cl_image_tag(costume.photo, height: 200, width: 150, gravity: :north, crop: :fill) %>
        </div>
        <div class="card-trip-infos">
          <h2><%= costume.name %></h2>
          <div class="description_product">
            <p><%= costume.description %></p>
          </div>
          <div class="card-details">
            <div class="size">
              <h2> <%= 'size : 16' %></h2>
            </div>
            <div class="price">
              <h2 class="card-trip-pricing"><%= "#{costume.price_per_day} € "%></h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
