<div class="container">
  <div class="costume-show">
    <div class ="costume-picture">
      <p><%= cl_image_tag @costume.photo, height: 660, gravity: :north, width: 520, crop: :fill %> </p>
    </div>

    <div class="costume-details">
      <div class="costume-description">
        <div class= "name-price"> <h1><%= @costume.name %></h1>
          <h5> 25€/day </h5>
        </div>
        <p> <%= @costume.description %></p>
      </div>

      <div class="costume-informations">
        <p>Taille : unique</p>

      </div>

      <div class="container">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <h3>When do you want These Guys</h3>

          <%= simple_form_for [@costume, @booking] do |f| %>
          <div class="form-inputs">
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}, label: 'date de début' %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"},
             label: 'date de fin'  %>
             <%= f.submit 'Réservation', class:"btn btn-danger"%>
          </div>
          <% end %>
        </div>
      </div>


      <div class="costume-ranking">
        <div class="owner-informations-show">
          <p> <%= "Owner : #{@costume.owner.first_name} #{@costume.owner.last_name}"%>
        </div>
        <div class="ranking_show">
          <p> <%= "Note : #{@costume.owner.rating}"%></p>
        </div>
      </div>
    </div>
  </div>
</div>

