<div class="booking-screen">
<% @bookings.each do |booking| %>
  <div class="card-product">
    <%= cl_image_tag booking.costume.photo, alt: "Photo costume", height: 100, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= booking.costume.name %></h2>
        <p><%= booking.message%></p>
      </div>
      <div class="booking">
        <p><%= booking.status %></p>
        <%= link_to accept_owner_booking_path(booking), method: :patch do  %>
        <div class="booking-btn" style="background-image: url('<%= image_url("validation.png") %>');"></div>
      <% end %>
      <%= link_to decline_owner_booking_path(booking), method: :patch do %>
        <div class="booking-btn" style="background-image: url('<%= image_url("cross.png") %>');"></div>
      <% end %>
      </div>
  </div>
<% end %>
<%= link_to "Accueil", root_path, class:"btn btn-flat" %>
</div>
