<div class="booking-screen">
  <%= link_to "Mes demandes", bookings_path, class:"btn btn-danger btn-sm my-booking"%>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <div class ="booking-photo"><%= cl_image_tag booking.costume.photo, alt: "Photo costume", height: 100, crop: :fill, gravity: :north %></div>
          <div class="booking-locataire-name">
            <div><h3><%= booking.locataire.last_name %></h3>
            <h2><%= booking.locataire.first_name %></h2></div>
          </div>

          <div class="booking-costume-name">
            <div>
              <h4><%= booking.costume.name %></h4>
              <p id="text-message"><%= booking.message %></p>
            </div>
          </div>
          <div class="booking-price" style="text-align: right; color: black;">
            <div>
            <h2>Total location </h2>
            <p style="font-size: x-large; text-align: center;"><%= booking.total_price %>€</p>
          </div>
          </div>
            <div class="booking-demand-bouton " style="padding-bottom: 5px;">
              <div class="booking-status <%= status_color(booking.status) %>" style="padding-left: 50px; align-items: center;"><h2><%= booking.status %></h2></div><div>
                <div class="button-direction">
                    <div><%= link_to accept_owner_booking_path(booking), class: "btn btn-succes owner-booking-accepted", method: :patch do %>
                      <i class="fas fa-check"></i>
                      <% end %>
                    </div>
                    <div><%= link_to decline_owner_booking_path(booking), class: "btn btn-succes owner-booking-decline", method: :patch do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
</div>


