<div class="booking-screen">
  <%= link_to "Mes costumes", root_path, class:"btn btn-danger btn-sm my-booking"%>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <div class ="booking-photo"><%= cl_image_tag booking.costume.photo, alt: "Photo costume", height: 100, crop: :fill, gravity: :north %></div>
          <div class="booking-locataire-name">
            <div><h3><%= booking.costume.owner.user_name %></h3></div>
          </div>

          <div class="booking-costume-name">
            <div>
              <h4><%= booking.costume.name %></h4>
              <p><%= booking.message %></p>
            </div>
          </div>

          <div class="booking-price" style="text-align: right; color: black;">
            <div>
              <h2>Total location </h2>
              <p style="font-size: x-large; text-align: center;"><%= booking.total_price %>€</p>
            </div>
          </div>
          <div class="booking-demand">
            <div class="booking-status" style="padding-left: 0px; align-items: center; color: black;"><h2 style="padding-right: 30px; "><strong><%= booking.status %></strong></div>
              <div class = "booking-date">
            <div><h2><%= booking.start_date %></h2>
            <h2><%= booking.end_date %></h2></div>
          </div>
          </div>
        </div>
    <% end %>
</div>
