<div class="booking-container">
  <div class="booking-screen">
    <%= link_to "Mes costumes", root_path, class:"btn btn-danger btn-sm my-booking" %>
        <div class="card-product">
            <div class="row">
          <% @bookings.each do |booking| %>
              <%= cl_image_tag booking.costume.photo, alt: "Photo costume", height: 100, crop: :fill %>
                <div class="card-product-infos">
                   <h2><%= booking.costume.name %></h2>
                   <p><%= booking.message%></p>
                </div>
                <div class="booking">
                  <p><%= booking.status %></p>
                </div>
        </div>
    <% end %>
  </div>
</div>

