<h2 class="center-text">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <div class="container container-login">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="form-inputs">
          <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions" %>
        </div>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
