<div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url('<%= image_url("banner.jpg") %>');">
  <div class="container">
    <h1> <strong>These Guys </strong> </h1>
    <p> Disguise for every events </p>
    <%= link_to "Voir nos costumes", costumes_path, class:"btn btn-danger" %>
  </div>
</div>

<h2 class="section-title home-section-title"> Recommendations pour Halloween <a data-scroll="" href="#cards-grid" class="anchor" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy URL"></a></h2>
<div class="cards home-cards">

  <div class="card-category home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("costume-citrouille-homme.jpg") %>');">
    Citrouille
  </div>

  <div class="card-category home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("costumeclown.jpg") %>');">
    Clown Tueur
  </div>

  <div class="card-category home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("costumevampire.jpg") %>');">
    Vampire
  </div>

   <div class="card-category home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("costumesorciere.jpeg") %>');">
    Sorcière
  </div>
</div>

<h2 class="section-title home-section-title"> Les plus populaires <a data-scroll="" href="#cards-grid" class="anchor" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy URL"></a></h2>
<div class="cards home-cards">

  <div class="card-category home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("deguisementlacasa.jpg") %>');">
    Série/film
  </div>

  <div class="card-category home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("deguisementspiderman.jpg") %>');">
    Super-héro
  </div>

  <div class="card-category home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("deguisementgonflable.jpg") %>');">
    Gonflable
  </div>

   <div class="card-category home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("deguisementsexy.jpg") %>');">
    Sexy
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   These guys <i class="fas fa-heart"></i> you
  </div>
</div>
